.container-fluid.features.mt-5.px-4.py-3#features
    .row.align-items-start
        .col-12.col-md-4.feature
            .text-center
                i.fa.fa-2x.fa-fw.fa-exclamation-triangle(aria-hidden='true')
                h3.text-warning ¿Adiestrar es maltratar?
            p.text-justify
                | Para nada, el proceso de adiestramiento 
                strong.text-warning SOLO SE TRATA DE DISCIPLINA
                |  y la forma mas consistente de realizarlo en tu mascota es con 
                span.font-italic amor, perseverancia y cariño
                | .
        .col-12.col-md-4.feature
            .text-center
                i.fa.fa-2x.fa-fw.fa-universal-access(aria-hidden='true')
                h3.text-warning ¿Todas son aptas?
            p.text-justify
                | El proceso se puede aplicar 
                span.text-warning.font-weight-bold A CUALQUIER MASCOTA
                | . Todas pueden entender que ellas no mandan y que hay ciertas órdenes que deben obedecer.
        .col-12.col-md-4.feature
            .text-center
                i.fa.fa-2x.fa-fw.fa-eur(aria-hidden='true')
                h3.text-warning ¿Cuanto cuesta?
            p.text-justify
                | Hasta noviembre de este año 2017 mis servicios son 
                strong.text-warning GRATUITOS
                | , solo contacta conmigo para concertar una cita con tu mascota y explicarte el proceso en persona.
