.container#services
  .row
    .col-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3
      table.table.table-responsive.table-hover
        thead
          tr
            th Servicio
            th.text-center ¿De qué trata?
        tbody
          each service in services
            tr
              td #{service.nameService}
              td #{service.description}