<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block links
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(href='https://fonts.googleapis.com/css?family=Dosis|Oxygen', rel='stylesheet')
        link(href='/assets/css/index.css', rel='stylesheet')
        title Miriam Rico - Adiestramiento canino
    body

    block content

    block footer
        footer.mt-5
            .container-fluid 
                .row 
                    .col-4.offset-1
                        .dropdown-divider
                        p.text-center.my-3 &copy; #{actualYear} - Miriam Rico -  ALL RIGHTS RESERVED

                    .col-4.offset-2
                        .dropdown-divider
                        h5.text-center.my-3 REDES SOCIALES
                        .d-flex.flex-row.justify-content-around
                            a(href="")
                                i.fa.fa-fw.fa-2x.fa-facebook
                            a(href="")
                                i.fa.fa-fw.fa-2x.fa-twitter
                            a(href="")
                                i.fa.fa-fw.fa-2x.fa-youtube
                            a(href="")
                                i.fa.fa-fw.fa-2x.fa-linkedin
    block scripts
        script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')